#OSX
.DS_Store

# directories
cache
cache_forge
out
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# foundry files
broadcast

# Metrics report
metrics.md

data/tx.*.json
data/*.csv

# Defender Actions
dist

# Local storage to represent Defender Actions shared storage state
.localKeyValueStorage*